ANIFLOW_PORT=8787
ANIFLOW_FRONTEND_URL=http://localhost:8080
ANIFLOW_APP_PASSWORD=
ANISKIP_CLIENT_ID=
ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
ANILIST_REDIRECT_URI=http://localhost:8787/api/integrations/anilist/callback
VITE_ANILIST_CLIENT_ID=
VITE_ANILIST_REDIRECT_URI=http://localhost:8787/api/integrations/anilist/callback
