ANIFLOW_PORT=8787
ANIFLOW_WEB_PORT=4173
ANIFLOW_FRONTEND_URL=
ANIFLOW_APP_PASSWORD=
ANISKIP_CLIENT_ID=
ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
ANILIST_REDIRECT_URI=
VITE_ANILIST_CLIENT_ID=
VITE_ANILIST_REDIRECT_URI=
